In [473]:
import pandas as pd

In [474]:
import os
directory = os.getenv('HOME') + '/aiffel/aiffelthon/'
file_path = os.getenv('HOME') + '/aiffel/saturi/MODEL'

In [475]:
os.listdir(directory)

['MODELtf_ckpts_gd12_r1',
 'reg_2',
 'past_files',
 '.ipynb_checkpoints',
 '[라벨]제주도_학습용데이터_1.zip',
 'corpus_ko.txt',
 '[라벨]전라도_학습데이터_1.zip',
 'added',
 'final',
 '[라벨]경상도_학습데이터_1.zip',
 'reg_1',
 'reg_4',
 'datset_full_raw_needs_translation_0221_v2.csv',
 '[라벨]충청도_학습데이터_1.zip',
 'reg_5',
 'saturi_crawling_thesaurus_0223.csv',
 'final_dataset.zip',
 '[라벨]강원도_학습데이터_1.zip',
 'reg_3',
 'corpus_en.txt']

In [476]:
df = pd.read_csv(directory + 'saturi_crawling_thesaurus_0223.csv')

In [477]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82401 entries, 0 to 82400
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   dial      82401 non-null  object
 1   original  82401 non-null  object
 2   meaning   82401 non-null  object
 3   reg       82401 non-null  object
dtypes: object(4)
memory usage: 2.5+ MB

In [478]:
df = df.loc[df['reg'] == 'jj']

In [479]:
import gensim

In [480]:
df.reg.value_counts()

jj    16794
Name: reg, dtype: int64

In [492]:
df['all'] = df['original'] +' '+ df['dial']

In [493]:
df.iloc[89]

dial                                                     붉가시낭
original                                                붉가시나무
meaning      붉가시나무의 방언, 참나뭇과의 상록 활엽 교목. 높이는 20미터 정도이며, 잎은 ...
reg                                                        jj
all                                                붉가시나무 붉가시낭
Name: 89, dtype: object

In [494]:
rev = df['all'].apply(gensim.utils.simple_preprocess) * 3

In [495]:
rev[0]

['분수', '분쉬', '분수', '분쉬', '분수', '분쉬']

In [496]:
model = gensim.models.Word2Vec(
    window = 4,
    min_count=2,
    workers=4
)

In [497]:
model.build_vocab(rev)

In [498]:
model.epochs

5

In [499]:
df.loc[df['dial'] == '술주시']

     dial original                              meaning reg       all
1790  술주시      지게미   지게미의 방언, 재강에 물을 타서 모주를 짜내고 남은 찌꺼기.  jj   지게미 술주시

In [500]:
rev

0                                 [분수, 분쉬, 분수, 분쉬, 분수, 분쉬]
1                                 [분수, 분시, 분수, 분시, 분수, 분시]
2                                 [분결, 분절, 분결, 분절, 분결, 분절]
3                                 [부채, 분채, 부채, 분채, 부채, 분채]
4                           [부채질, 분채질, 부채질, 분채질, 부채질, 분채질]
                               ...
16789                             [마흔, 마은, 마흔, 마은, 마흔, 마은]
16790    [서른이, 조금, 넘는, 또는, 그런, 수의, 설남은, 서른이, 조금, 넘는, 또는...
16791                             [서른, 설룬, 서른, 설룬, 서른, 설룬]
16792                             [서른, 설흔, 서른, 설흔, 서른, 설흔]
16793                       [대여섯, 대요슷, 대여섯, 대요슷, 대여섯, 대요슷]
Name: all, Length: 16794, dtype: object

In [501]:
model.train(rev, total_examples=model.corpus_count, epochs = model.epochs * 10)
model.save(file_path +'/w2v_meaning.model')

In [504]:
model.wv.most_similar('마흔')

[('마은', 0.9962345361709595),
 ('모루', 0.9646968245506287),
 ('반날갈이', 0.9636173844337463),
 ('혼령', 0.9627216458320618),
 ('구리', 0.9620144963264465),
 ('고사떡', 0.9612826704978943),
 ('낫젼밧', 0.9602319002151489),
 ('췌서', 0.960150420665741),
 ('초서', 0.9596132636070251),
 ('혼정', 0.9594459533691406)]

In [403]:
model.wv.similarity(w1='분수',w2='분시')

0.78596276